<div *ngIf="isAuthenticated">
  <table mat-table [dataSource]="transactions">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="sum">
      <th mat-header-cell *matHeaderCellDef>sum</th>
      <td mat-cell *matCellDef="let element">
        {{element.sum}}
      </td>
    </ng-container>

    <ng-container matColumnDef="otherParty">
      <th mat-header-cell *matHeaderCellDef>friend</th>
      <td mat-cell *matCellDef="let element">
        {{element.otherParty}}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>type</th>
      <td mat-cell *matCellDef="let element">
        {{element.type}}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>createdAt</th>
      <td mat-cell *matCellDef="let element">
        {{element.createdAt}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>



