<form [formGroup]="this.formGroup" (ngSubmit)="this.submitForm()">
  <label>Sum:
    <input type="number" formControlName="sum">
  </label>

  <label>
    Category:
    <select formControlName="category">
      <option value="SHOPPING">Shopping</option>
      <option value="SERVICES">Services</option>
      <option value="ENTERTAINMENT">Entertainment</option>
      <option value="RESTAURANTS">Restaurants</option>
      <option value="TRANSFERS">Transfers</option>
      <option value="GROCERIES">Groceries</option>
      <option value="TRANSPORT">Transport</option>
      <option value="OTHER">Other</option>
    </select>
  </label>

  <input type="submit">
</form>
